# Example .env file for PCO Arrivals Billboard

PCO_CLIENT_ID=xxxxx
PCO_CLIENT_SECRET=pxxxx
PCO_ACCESS_TOKEN=xxx
PCO_ACCESS_SECRET=xxxx
REDIRECT_URI=http://localhost:3001/auth/callback
CLIENT_URL=http://localhost:3000
PORT=3001
SESSION_SECRET=xxxxx
NODE_ENV=development

# Cloudflare Turnstile Bot Protection
TURNSTILE_SECRET_KEY=0x4AAAAAAB8GhuFM-YmXw2t7ce1y3L_lt8A


# Authorized PCO User IDs (comma-separated, no spaces)
AUTHORIZED_USERS=111111111

# Default application credentials
REACT_APP_DEFAULT_APP_ID=xxxxxx
REACT_APP_DEFAULT_SECRET=xxxxxx

# Add additional authorized users as needed
REACT_APP_USER1_NAME=Primary Check-in Admin
REACT_APP_USER1_APP_ID=xxxxxx
REACT_APP_USER1_SECRET=xxxxxx

MONGODB_URI=mongodb+srv://jeremy:4LEl7itFJRFUzaR8@pco-arrivals-dashboard.v8j7apq.mongodb.net/?retryWrites=true&w=majority&appName=pco-arrivals-dashboard
LOG_LEVEL=info
API_URL=http://localhost:3001